.profile__add-btn{
    max-width: 150px;
    width: 100%;
    height: 50px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    background: url(../../../images/addbtn.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 22px;
    box-sizing: border-box;
    border-radius: 2px;
    margin-left: auto;
}

@media screen and (max-width: 1110px){
    .profile__add-btn{
        max-width: 282px;
        margin: 0 auto;
        background-size: 16px 16px;
    }
}