@import url(./__name/profile__name.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__profession/profile__profession.css);

.profile{
    max-width: 880px;
    width: calc(100% - 400px);
    margin: 0 auto 50px;
}