.elements__like{
    display: block;
    background: url(../../../images/heart_disabled.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 100%;
    max-width: 21px;
    padding: 0;
}